name: Build apache

on:
  push:

jobs:
  docker_build_and_publish_github:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        container: [ 'talk' ]

    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker metadata
        id: metadata
        uses: docker/metadata-action@v3
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/custom-aio-${{ matrix.container }}
          tags: |
            type=raw,value=latest

      - name: Build docker image and push to github packages
        uses: docker/build-push-action@v2
        with:
          context: ./Containers/${{ matrix.container }}
          platforms: linux/amd64,linux/arm64
          no-cache: true
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
